_ME_:	me, us
_YOU_:	you
_THEY_:	he, she, they, it
_GOOD_:	good
_BAD_:	bad
_BIG_:	big
_SMALL_:	small
_ANIMAL_:	animal
_FOOD_:	food
_NO_:	not, no, none
_ALL_:	all, everything
_FIGHT_:	fight
_STRONG_:	strong
_SWEET_:	sweet
_PERSON_:	person
_PARENT_:	parent, creator
_MAN_:	man
_WOMAN_:	woman
_THING_:	thing
_TOOL_:	tool
_PAPER_:	paper
_LOOK_:	look
_LOVE_:	love
_WORK_:	work, make
_GIVE_:	give
_WATER_:	water, clean
_HOUSE_:	house, structure
_HAVE_:	have, carry
_PLANT_:	plant
_PICTURE_:	picture, to draw
_TALK_:	talk
_PLACE_:	place, ground
_HARD_:	hard, stone, metal
_CHANGE_:	change, different
_AND_:	and
_SOUND_:	sound
_GROUP_:	group
_SLEEP_:	sleep
_MANY_:	a lot, much
_THIS_:	this, that(you know)
_BREAK_:	break
_WARM_:	warm
_USE_:	use, using
_AT_:	at, in, here
_SAME_:	the same
_FROM_:	from
_TO_:	move, go, to
_UP_:	up, sky
_DOWN_:	down, leg, under
_SIDE_:	next to, side
_BACK_:	back
_FACE_:	face
_OR_:	or
_HEY_:		the same as o in toki pona
_WHAT_:	what
_HEAR_:	hear, listen
_NAME_:	name,word
_HEAD_:	head
_SUB_:	socially small, lowly, humble, dependent
_INSIDE_:	inside, contents, center
_COLOR_:	color
_YELLOW_:	yellow
_BRUE_:	green, blue
_RED_:	red
_BLACK_:	dark, black
_WHITE_:	white, light
_STRANGE_:	crazy, weird
_DIRTY_:	dirty, disgusting
_DEATH_:	death, dead
_SEX_:	sex, sexual
_OF_:	of (you know)
_WHEN_:	like la in toki pona, except A la B is wen A, B
_THEN_:	after, then, as (forms comparative), can be also placed in :'wen A ten B'
_HAND_:	hand
_LINE_:	line, kinlin for stick
_BODY_:	body
_CLOTH_:	clothes
_COLD_:	cold
_ART_:	art, entertainment, game
_COME_:	coming, future, come, event
_CAN_:	know, be able to, can, ability
_START_:	start, open, begin
_END_:	end, finosh, close
_KNOW_:	know, knowledge
_WANT_:	want to, will(n)
_HOLE_:	hole
_PATH_:	way, path, road
_BUMP_:	hill, nose, button
_TIME_:	time
_NUMBER_:	number
_ONLY_:	only, one (used with no in binary, yes this language uses binary because why not)
_ROUND_:	circle, sphere
_MONEY_:	money
_BOX_:	box, cube, container
_SUN_:	sun, bright
_TAKE_:	take, gather, acquire
_AIR_:	air, essence, spirit, gas
_FEEL_:	feeling, sense, heart
_SURFACE_:	surface, horizontal
